<div class="header-container">
  <div class="header-title">
    Trường Đại học Công nghệ Kỹ Thuật TP.HCM
  </div>

  <div class="header-right-group">
    
    <button class="header-icon-btn" title="Thông báo mới">
      <span class="material-symbols-outlined">notifications</span>
    </button>

    <button class="header-icon-btn" title="Trợ giúp">
      <span class="material-symbols-outlined">help</span>
    </button>

    <div class="header-avatar" title="Hồ sơ cá nhân" id="userAvatarBtn" onclick="showNotification('Tính năng đang phát triển!', 'info')">
      <span id="avatarText">-</span>
    </div>
    
  </div>
</div>