<ul style="list-style: none; padding: 0; margin: 0;">
  <li>
    <button class="menu-btn" onclick="navigate('frontend/views/student/view_student_profile', 'initStudentProfile')">
      <span class="material-symbols-outlined">school</span>
      <span>Thông tin cá nhân</span>
    </button>
  </li>

  <li>
    <button class="menu-btn" onclick="navigate('frontend/views/common/view_notification', 'initNotification')">
      <span class="material-symbols-outlined">notifications</span>
      <span>Thông báo</span>
    </button>
  </li>

  <li>
    <button class="menu-btn" onclick="showNotification('Tính năng đang phát triển!', 'info')">
      <span class="material-symbols-outlined">menu_book</span>
      <span>Đăng ký đề tài KLTN</span>
    </button>
  </li>

  <li>
    <button class="menu-btn" onclick="showNotification('Tính năng đang phát triển!', 'info')">
      <span class="material-symbols-outlined">calendar_check</span>
      <span>Tiến độ đề tài & nộp bài</span>
    </button>
  </li>

  <li>
    <button class="menu-btn" onclick="showNotification('Tính năng đang phát triển!', 'info')">
      <span class="material-symbols-outlined">description</span>
      <span>Kết quả</span>
    </button>
  </li>
</ul>
